@import "MFXColors.css";

/**************************************************
  * Root
 **************************************************/
.rootPane {
  -fx-background-color: -mfx-base;
  -fx-background-radius: 10;
  /* -fx-border-color: #ebebeb; */
  -fx-border-radius: 10;
}

/**************************************************
  * Window Header
 **************************************************/
.rootPane .navbar {
  -fx-background-color: -mfx-crust;
}

.rootPane .close-icon {
  -mfx-color: -mfx-red;
  -fx-opacity: 1;
}

.rootPane .close-icon:hover {
  -fx-opacity: 0.8;
}

.rootPane .minimize-icon {
  -mfx-color: -mfx-yellow;
  -fx-opacity: 1;
}

.rootPane .minimize-icon:hover {
  -fx-opacity: 0.8;
}

.rootPane .maximize-icon {
  -mfx-color: -mfx-green;
  -fx-opacity: 1;
}

.rootPane .maximize-icon:hover {
  -fx-opacity: 0.8;
}

/**************************************************
  * Sidebar
 **************************************************/
.rootPane .sidebar {
  -fx-background-color: -mfx-surface0;
  /* -fx-background-radius: 0 20 20 0; */
  -fx-background-insets: -1 -5 -1 -1;
}

.rootPane .sidebar .header {
  -fx-font-family: "Open Sans ExtraBold";
  -fx-font-size: 20;
  -fx-text-fill: -mfx-text;
}

.rootPane .sidebar .tagline {
  -fx-font-family: "Open Sans Bold";
  -fx-font-size: 12;
  -fx-text-fill: -mfx-subtext0;
}

.rootPane .sidebar .header1 {
  -fx-font-family: "Open Sans ExtraBold";
  -fx-font-size: 14;
  -fx-text-fill: -mfx-text;
}

#algorithm-selector {
  -fx-background-color: transparent;
  -fx-border-color: -mfx-sky;
  -fx-text-fill: -mfx-text;
}

#algorithm-selector .floating-text {
  -fx-background-color: transparent;
	-fx-text-fill: -mfx-text;
}

#algorithm-selector .combo-popup .virtual-flow {
  -fx-background-color: -mfx-surface0;
  -fx-border-color: -mfx-sky;
  -fx-text-fill: -mfx-text;
}

#algorithm-selector .combo-popup .virtual-flow .mfx-combo-box-cell:hover {
  -fx-background-color: -mfx-surface2-transparent;
}

#algorithm-selector .caret .mfx-font-icon {
	-mfx-color: -mfx-text;
}

#input-data {
  -fx-background-color: transparent;
	-fx-border-color: -mfx-sky;
  -fx-text-fill: -mfx-text;
}

#input-data .floating-text {
  -fx-background-color: -mfx-surface0;
	-fx-text-fill: -mfx-text;
}

#input-data-sorting-window {
  -fx-background-color: transparent;
	-fx-border-color: -mfx-sky;
  -fx-text-fill: -mfx-text;
}

#input-data-sorting-window .floating-text {
  -fx-background-color: -mfx-base;
	-fx-text-fill: -mfx-text;
}

#run-button {
	-fx-background-color: -mfx-sky;
  -fx-text-fill: -mfx-text-dark;
  -fx-font-family: "Open Sans Bold";
  -fx-font-size: 14;
}

#default-button {
  -fx-background-color: -mfx-sky;
  -fx-text-fill: -mfx-text-dark;
  -fx-font-family: "Open Sans Bold";
  -fx-font-size: 12;
}

#sorting-progress .bar1 {
	-fx-fill: -mfx-sky;
}

#sorting-progress .track {
  -fx-fill: -mfx-base;
  -fx-stroke: -mfx-sky;
  -fx-stroke-width: 1;
}

#stats {
  -fx-text-fill: -mfx-text;
  -fx-font-family: "Open Sans Bold";
  -fx-font-size: 12;
}

#instruction {
  -fx-text-fill: -mfx-text;
  -fx-font-family: "Open Sans Bold";
  -fx-font-size: 16; 
}