* {
	/* Catppuccin color scheme */
	-mfx-red: #f38ba8;
	-mfx-yellow: #f9e2af;
	-mfx-green: #a6e3a1;
	-mfx-sky: #91d7e3;

	-mfx-surface0: #313244;
	-mfx-surface1: #45475a;
	-mfx-surface2: #585b70;
	-mfx-surface2-transparent: #585b7060; 

	-mfx-crust: #232634;
	-mfx-mantle: #181825;
	-mfx-base: #1e1e2e;
	-mfx-text: #cdd6f4;
	-mfx-text-dark: #4c4f69;
	-mfx-subtext0: #a6adc8;
	-mfx-subtext1: #bac2de;


	-mfx-text-he: -mfx-text; /* High Emphasis */
	-mfx-text-me: -mfx-subtext1; /* Medium Emphasis*/
	-mfx-text-disabled: -mfx-subtext0; /* Disabled */
}